html {
  --dark-brown: #776e65;
  --darker-brown: #645b52;
  --darkest-brown: #846f5b;
  --light-grey: #f7f4ef;
  --grey: #f8f5f0;
  --dark-orange: #ad9d8f;
  --beige: rgba(238, 228, 218, 0.5);
  --dark-main: #111517;
  --confirm-color: #1f93e0;
  --main-text: #b8bbbd;
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
